$thumbnail-height: 80px;
$thumbnail-width: 124px;


@function set-proportional-width($breakpoint){
	//subtract 40x padding to get the new width of the inner image,
	@return ($breakpoint - 40px)
}
@function set-proportional-height($breakpoint){
	//subtract 40x padding to get the new width of the inner image,
    //then multiply by the aspect ratio to get the new image height
	@return ($breakpoint - 40px)*.65
}
@mixin set-wrapper-width-height($breakpoint){
	width: $breakpoint;
	height: set-proportional-height($breakpoint)+40px+25px+10px;
}