

/* Animations from Phonecat Demo
-------------------------------------------------- 
cross fading between routes with ngView 

*/
//from the phonecat app
//.phone-listing.ng-enter,
// .thumbnail-container.ng-leave,
// .thumbnail-container.ng-move {
//   -webkit-transition: 0.5s linear all;
//   -moz-transition: 0.5s linear all;
//   -o-transition: 0.5s linear all;
//   transition: 0.5s linear all;
// }

// .thumbnail-container.ng-enter,
// .thumbnail-container.ng-move {
//   left: 66%;
// }

// .thumbnail-container.ng-move.ng-move-active,
// .thumbnail-container.ng-enter.ng-enter-active {
//   opacity: 1;
//   height: 120px;
// }

// .thumbnail-container.ng-leave {
//   left:-100%;
//   // overflow: hidden;
// }

// .thumbnail-container.ng-leave.ng-leave-active {
//   left:-100%;
//   // opacity: 0;
//   // height: 0;
//   // padding-top: 0;
//   // padding-bottom: 0;
// }
//-----------------------------------------





/*-------------------------------------------------- 
//Thumnailes: When click  button
-
------------------------------------------------- */
// .thumbnail-container.ng-enter
// {
//   -webkit-animation: 1s fade-to-left-thumb;
//   // -moz-animation: 0.5s fade-in-right;
//   // -o-animation: 0.5s fade-in-right;
//   animation: 1s fade-to-left-thumb;
//   z-index: 99;
// }
// // .thumbnail-container.ng-enter
// // {
// //   -webkit-animation: 1s fade-to-left-thumb;
// //   // -moz-animation: 0.5s fade-in-right;
// //   // -o-animation: 0.5s fade-in-right;
// //   animation: 1s fade-to-left-thumb;
// //   z-index: 99;
// // }
// .thumbnail-container.ng-leave
// {
//   -webkit-animation: 1s fade-from-left-thumb;
//   // -moz-animation: 0.5s fade-in-right;
//   // -o-animation: 0.5s fade-in-right;
//   animation: 1s fade-from-left-thumb;
//   z-index: 99;
// }

// @-webkit-keyframes fade-to-left-thumb {
//   from { margin-left: 100% }
//   to { margin-left: 66%}
// }
// @-webkit-keyframes fade-from-left-thumb {
//   from { margin-left: 0% }
//   to { margin-left: -100%;}
// }

/*-------------------------------------------------- 
//SLIDE ANIMATIONS
-------------------------------------------------- */

.view-container.ng-enter,
.view-container.ng-leave

  {background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.view-container.ng-enter,
.view-container.ng-leave{
  position: absolute;
  float:left;
}

/*-------------------------------------------------- 
//Slides: When click PREVIOUS button
-------------------------------------------------- */


.view-container.ng-enter.back
// .pagination .ng-hide-add  {
 { -webkit-animation: 0.5s fade-in-right;
  -moz-animation: 0.5s fade-in-right;
  -o-animation: 0.5s fade-in-right;
  animation: 0.5s fade-in-right;
  z-index: 99;
}

.view-container.ng-leave.back
// .pagination .ng-hide-remove {
{  -webkit-animation: 0.5s fade-out-right;
  -moz-animation: 0.5s fade-out-right;
  -o-animation: 0.5s fade-out-right;
  animation: 0.5s fade-out-right;
  z-index: 100;
}


@keyframes fade-in-right {
  from { margin-left: -100% }
  to {  margin-left: 0%;}
}
@-moz-keyframes fade-in-right {
  from {  margin-left: -100% }
  to {margin-left: 0%;}
}
@-webkit-keyframes fade-in-right {
  from { margin-left: -100% }
  to { margin-left: 0%;}
}

@keyframes fade-out-right {
  from { margin-left: 0%}
  to { margin-left:100%}
}
@-moz-keyframes fade-out-right {
  from {  margin-left: 0%}
  to {  margin-left:100%}
}
@-webkit-keyframes fade-out-right {
  from {margin-left: 0%}
  to { margin-left: 100%}
}
/*-------------------------------------------------- 
//Slides: When click NEXT button
-------------------------------------------------- */

.view-container.ng-enter.forward
// .pagination .ng-hide-add  {
 { -webkit-animation: 0.5s fade-in-left;
  -moz-animation: 0.5s fade-in-left;
  -o-animation: 0.5s fade-in-left;
  animation: 0.5s fade-in-left;
  z-index: 100;
}

.view-container.ng-leave.forward
// .pagination .ng-hide-remove {
{  -webkit-animation: 0.5s fade-out-left;
  -moz-animation: 0.5s fade-out-left;
  -o-animation: 0.5s fade-out-left;
  animation: 0.5s fade-out-left;
  z-index: 99;
}

// @keyframes fade-in-left {
//   from { opacity: 0; margin-left: 0% }
//   to { opacity: 1; margin-left: 100%;}
// }
// @-moz-keyframes fade-in-left {
//   from { opacity: 0; margin-left: 0% }
//   to { opacity: 1; margin-left: 100%;}
// }
@-webkit-keyframes fade-in-left {
  from { margin-left: 100% }
  to { margin-left: 0%;}
}

// @keyframes fade-out-left {
//   from { opacity: 1; margin-left:100%}
//   to { opacity: 0; margin-left:0%}
// }
// @-moz-keyframes fade-out-left {
//   from { opacity: 1; margin-left: 100%}
//   to { opacity: 0; margin-left: 0%}
// }
@-webkit-keyframes fade-out-left {
  from { margin-left: 0%}
  to {  margin-left: -100%}
}
/*-------------------------------------------------- 
//When click THUMBNAIL 
//Changes behavior to opacity
-------------------------------------------------- */
.view-container.ng-enter.opacity
// .pagination .ng-hide-add  {
 { -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 99;
}

.view-container.ng-leave.opacity
// .pagination .ng-hide-remove {
{  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index: 100;
}


@keyframes fade-in {
  from { opacity: 0 }
  to {  opacity: 1}
}
@-moz-keyframes fade-in {
  from { opacity: 0 }
  to {  opacity: 1}
}
@-webkit-keyframes fade-in {
  from { opacity: 0 }
  to {  opacity: 1}
}

@keyframes fade-out {
  from { opacity: 1 }
  to {  opacity: 0}
}
@-moz-keyframes fade-out {
  from { opacity: 1 }
  to {  opacity: 0}
}
@-webkit-keyframes fade-out {
  from { opacity: 1 }
  to {  opacity: 0}
}

@import 'colors';
@import 'variables';
/*** importing 'views' at the bottom for testing overrides */

/* Reset button styles and disable select highlighting
===============================================================*/
button { background: none; border: none; margin: 0; padding: 0; font-size: 0; line-height: 0; width: auto; overflow: visible; }

.btn {
  display: inline-block;
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: none;  
  border-radius: 0px;
}
.btn:focus, .btn:enabled, .btn:active {
  outline: none !important;
  box-shadow: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
///REMOVE!
///TEMPORARY BGS FOR VIEWS
///
.page2{
  //
  background: tan url('../img/page_02.jpg') no-repeat center center;
}
.page3{
  //
  background: blue url('../img/page_03.jpg') no-repeat center center;
}
.page4{
  //
  background: red url('../img/page_04.jpg') no-repeat center center;
}
.page5{
  //
  background: gray url('../img/page_05.jpg') no-repeat center center;
}
/* Custom page CSS
-------------------------------------------------- */
h1, h2, h3, h4 {
  font-family: "Amatic SC", cursive;
}


body {
  font-family: "Cantarell", Arial, sans-serif;
  background-color: #EAEAEA;
  width: 100%;
  height: 100%
}

img {
  // height: 100%;
}
.wrapper img {
  max-height: 100%
}
.glyphicon {
  color: $chevron-gray;
  font-size:16px;
}
.top-bar {
  padding-top: 5px;
  text-align: center;

  >div {
     display: inline-block;

  }
  .link-out{
    padding-top: 3px;
    float: left;
      color: $aegis-blue;
    a {
       color: $aegis-blue;
      text-decoration: underline;
    }
  }
  .social-buttons {
    margin: 0 auto;
    li {
      border-right: 1px solid #000;
    }
    li:last-child{
      border: none;
    }
    a {
      padding: 0 10px; 
      
      img {
      height: 25px;
      width: auto;
      }
    }
  }
  .logo {
    clear: right;
    float: right;
    img {
      height: 30px;
      width: auto;
    }
  }
  li {
    display: inline-block;
    list-style-type: none;
    a {
      height: 35px;
    }
  }
  img {
    height: 100%;
  }
}


.container .text-muted {
  margin: 20px 0;
}


.overlay-buttons {
  width: 100%;
  position:absolute;
  top: 43%;
  z-index: 200;
  > button {
    border-radius: 8px;
    cursor: pointer;
    width: 30px;
    height: 120px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top:0;
    text-align: center;
    padding: 0;
  }
  >button:visited {
     background-color: rgba(255, 255, 255, 0.5);
   }
  >button:hover {
    background-color: rgba(255, 255, 255, 0.75);
  }
 >button:active {
     background-color: rgba(255, 255, 255, 0.5);
   }
  .button-left {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    left: 0;
  }
  .button-right {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    right: 0;
  }
}
.button-row {
  display: block;
}
.page-turner-container{
  width: 100%;
  display:block;
  position:absolute;
  bottom: 0;
  left:0;
  z-index: 201;
}
nav.page-turner {
  border-radius: 5px 5px 0 0;
  // position: relative;
  // bottom: 0px;
  text-align: center;
  margin: 0 auto; 
  background-color: rgba(255, 255, 255, 0.5);
  width: 460px;
  .hide-nav span{
    display: inline-block;
    width: 100%;
    -webkit-transition: all .01s ease-in-out;
    -o-transition: all .01s ease-in-out;
    transition: all .01s ease-in-out;
     vertical-align: middle;
     position: static;
  }
}
nav.page-turner.small .hide-nav {
  
}
li.thumb-scroll-window {
  width: 396px;
  height: 100px;
  overflow: hidden;
  position:relative;
  
  .holder {
//    padding: 0 143px; //add a blank 'thumbnail' on each end
    width: 3000px;
    height: 100px;
  }
}
  ul.thumb-viewer {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      display: inline-block;
      padding: 4px;
    }
    ul {
      padding: 0;
    }
    li {
      display: inline-block;
      float:left;
  }
// li.thumbnail-container {
//     width:$thumbnail-width;
//     height:$thumbnail-height;
// }
  ul.thumb-viewer.ng-hide{
    opacity: 0;
  }


//These styles toggle-set by Angular. 

.prev.btn, .next.btn {
  height: $thumbnail-height;
}
.page-thumbnail {
  display: block;
  margin: 4px;
  line-height: 1.42857143;
  background-color: #555;
  -webkit-transition: all .01s ease-in-out;
  -o-transition: all .01s ease-in-out;
  transition: all .01s ease-in-out;
    img {
    opacity: .3;
    height: $thumbnail-height;
  }
}
.active-thumb img {
  opacity: 1;
}
.page-thumbnail img:hover {
   -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1Cs ease-in-out;
    opacity: 1;
}
footer {
    text-align: right;
    height: 20px;
    padding-top: 5px;
}
.page-number {
  width: 120px;
  display: inline-block;
  color: gray;
}
.hide-arrow {
  visibility: hidden !important;
  display:inline-block;
}



/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
/*----- 
 Placing .wrapper next to media queries for less scrolling
 --------*/

.wrapper{
  //We need to set the wrapper height to prevent the layout
  //from collapsing as we turn the page.
  //
  //Calcs based on: 
  //1170px bg image width, 
  //760px height
  //
  //40px for top bar
  //25px footer height
  //10 padding on bottom
  //
  //Calculate width and height of wrapper 
  //based on padding etc
  width: 1170px + 40px;
  height: 760px + 40px + 25px + 10px;
  
  margin: 0 auto;
  padding: 0px 20px 10px 20px;
  background-color: white;
  position: relative;
}
/*--Styles for slides!--*/


.slides {
  height: 760px;
  width: 1170px;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: url('../img/ajax-loader.gif') no-repeat center center;
}
.page-wrapper {
    position: relative;
    width: 3510px;
    left: 0;

    // height: 760px;
}
      .view-container{
          position:absolute;

          overflow: hidden;
          // width: 1170px;
          // height: 760px;
      }
          .page-container{
            position: relative;
            width: 1170px;
            height: 760px;
          } 

/* Styles for the next and previous pages that "peek" in */
.peek-next, .peek-prev, .center {
    position: relative;
    float: left;
    width: 1170px;
    height: 760px;
    // left: 100%;
}

/* Media Queries */ 

//trying to hit the major breakpoints
@media only screen and (max-width: 1024px) {
  // .page-wrapper {
  //   @include set-wrapper-width-height(1024px)
  // }
  .wrapper{
    @include set-wrapper-width-height(1024px)
  }
  .page-container, .slides, .peek-next, .peek-prev, .page-wrapper
  { 
    //subtract 40x padding to get the new width of the inner image,
    //then multiply by the aspect ratio to get the new image height
    height: set-proportional-height(1024px) !important;
    width: set-proportional-width(1024px) !important;
  }
}
//hide the bottom navigation from phones
// @media only screen and (max-width: 960px) {
//   .wrapper{
//     width: 960px;
//   }
//  .page_container
//   { 
//     @include set-page-bg-height(960px);
//   }
  
// }
// @media only screen and (max-width: 768px) {
//   .wrapper{
//   width: 768px;
//  }
//  .page_container
//   { 
//     @include set-page-bg-height(760px);
//   }
// }
// @media only screen and (max-width: 640px) {
//   .wrapper{
//     width: 640px;
//     height: 438px;
//   }
//  .page_container
//   { 
//     @include set-page-bg-height(640px);
//   }
//   nav.page-turner {
//     display: none;
//   }
//   .top-bar .social-buttons, .top-bar.link-out {
//     display:none;
//   }
// }
// @media only screen and (max-width: 480px) {
//   .wrapper{
//     width: 480px;
//     height: 329px;
//  }
//  .page_container
//   { 
//     @include set-page-bg-height(480px);
//   }
  
// }
// @media only screen and (max-width: 320px) {
//   .wrapper{
//     width: 320px;
//     height: 220px;
//   }
//  .page_container
//   { 
//     @include set-page-bg-height(320px);
//   }
  
// }
@import 'views';
