/* Animations from Phonecat Demo
-------------------------------------------------- */
/* cross fading between routes with ngView 

TODO - this is causing the overlying UI to disappear and reappear.
// .view-container{
//   // position: relative;
// }

// .view-frame.ng-enter,
// .view-frame.ng-leave
// // .pagination .ng-hide-add,
// // .pagination .ng-hide-remove {
//   {background: white;
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
// }

// .view-frame.ng-enter
// // .pagination .ng-hide-add  {
//  { -webkit-animation: 0.15s fade-in;
//   -moz-animation: 0.15s fade-in;
//   -o-animation: 0.15s fade-in;
//   animation: 0.15s fade-in;
//   z-index: 100;
// }

// .view-frame.ng-leave,
// // .pagination .ng-hide-remove {
// {  -webkit-animation: 0.15s fade-out;
//   -moz-animation: 0.15s fade-out;
//   -o-animation: 0.15s fade-out;
//   animation: 0.15s fade-out;
//   z-index: 99;
// }

// @keyframes fade-in {
//   from { opacity: 0; }
//   to { opacity: 1; }
// }
// @-moz-keyframes fade-in {
//   from { opacity: 0; }
//   to { opacity: 1; }
// }
// @-webkit-keyframes fade-in {
//   from { opacity: 0; }
//   to { opacity: 1; }
// }

// @keyframes fade-out {
//   from { opacity: 1; }
//   to { opacity: 0; }
// }
// @-moz-keyframes fade-out {
//   from { opacity: 1; }
//   to { opacity: 0; }
// }
// @-webkit-keyframes fade-out {
//   from { opacity: 1; }
//   to { opacity: 0; }
// }





/* Sticky footer styles
-------------------------------------------------- 
html {
  position: relative;
}
body {
  /* Margin bottom by footer height 
  margin-bottom: 60px;
}
*/
/* Custom page CSS
-------------------------------------------------- */
.view-frame {
  width: 100%; }

.thumbnail img {
  width: 50px; }

.big-pic {
  width: 100%; }

.slides {
  position: absolute;
  height: auto;
  width: 100%;
  padding: 0 0px;
  text-align: center;
  background: url('../img/ajax-loader.gif') no-repeat center center; }

.wrapper img {
  max-height: 100%; }

.container .text-muted {
  margin: 20px 0; }

nav.page-turner {
  left: 50%;
  position: absolute;
  bottom: 0;
  padding-top: 30px;
  text-align: center;
  width: auto;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: rgba(255, 255, 255, 0.5); }
  nav.page-turner ul li {
    display: inline-block; }

.overlay-buttons {
  width: 100%;
  position: absolute;
  top: 52%;
  z-index: 10; }
  .overlay-buttons > button {
    border-radius: 8px;
    cursor: pointer;
    width: 30px;
    height: 120px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    text-align: center;
    padding: 0; }
  .overlay-buttons .button-left {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    left: 0; }
  .overlay-buttons .button-right {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    right: 0; }

.button-row {
  display: block; }

.page-number {
  width: 120px;
  display: inline-block;
  color: gray; }

.pagination > li {
  display: inline-block; }

.pagination > li > a {
  margin: 2px; }

.apply-border {
  border: 1px solid red !important; }

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }
