/* Animations from Phonecat Demo
-------------------------------------------------- 
cross fading between routes with ngView 

*/
/*-------------------------------------------------- 
//Thumnailes: When click  button
-
------------------------------------------------- */
/*-------------------------------------------------- 
//SLIDE ANIMATIONS
-------------------------------------------------- */
.view-container.ng-enter, .view-container.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.view-container.ng-enter, .view-container.ng-leave {
  position: absolute;
  float: left; }

/*-------------------------------------------------- 
//Slides: When click PREVIOUS button
-------------------------------------------------- */
.view-container.ng-enter.back {
  -webkit-animation: 0.5s fade-in-right;
  -moz-animation: 0.5s fade-in-right;
  -o-animation: 0.5s fade-in-right;
  animation: 0.5s fade-in-right;
  z-index: 99; }

.view-container.ng-leave.back {
  -webkit-animation: 0.5s fade-out-right;
  -moz-animation: 0.5s fade-out-right;
  -o-animation: 0.5s fade-out-right;
  animation: 0.5s fade-out-right;
  z-index: 100; }

@keyframes fade-in-right {
  from {
    margin-left: -100%; }

  to {
    margin-left: 0%; } }

@-moz-keyframes fade-in-right {
  from {
    margin-left: -100%; }

  to {
    margin-left: 0%; } }

@-webkit-keyframes fade-in-right {
  from {
    margin-left: -100%; }

  to {
    margin-left: 0%; } }

@keyframes fade-out-right {
  from {
    margin-left: 0%; }

  to {
    margin-left: 100%; } }

@-moz-keyframes fade-out-right {
  from {
    margin-left: 0%; }

  to {
    margin-left: 100%; } }

@-webkit-keyframes fade-out-right {
  from {
    margin-left: 0%; }

  to {
    margin-left: 100%; } }

/*-------------------------------------------------- 
//Slides: When click NEXT button
-------------------------------------------------- */
.view-container.ng-enter.forward {
  -webkit-animation: 0.5s fade-in-left;
  -moz-animation: 0.5s fade-in-left;
  -o-animation: 0.5s fade-in-left;
  animation: 0.5s fade-in-left;
  z-index: 100; }

.view-container.ng-leave.forward {
  -webkit-animation: 0.5s fade-out-left;
  -moz-animation: 0.5s fade-out-left;
  -o-animation: 0.5s fade-out-left;
  animation: 0.5s fade-out-left;
  z-index: 99; }

@-webkit-keyframes fade-in-left {
  from {
    margin-left: 100%; }

  to {
    margin-left: 0%; } }

@-webkit-keyframes fade-out-left {
  from {
    margin-left: 0%; }

  to {
    margin-left: -100%; } }

/*-------------------------------------------------- 
//When click THUMBNAIL 
//Changes behavior to opacity
-------------------------------------------------- */
.view-container.ng-enter.opacity {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 99; }

.view-container.ng-leave.opacity {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index: 100; }

@keyframes fade-in {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes fade-in {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fade-out {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

@-moz-keyframes fade-out {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

@-webkit-keyframes fade-out {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

/*** importing 'views' at the bottom for testing overrides */
/* Reset button styles and disable select highlighting
===============================================================*/
button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  width: auto;
  overflow: visible; }

.btn {
  display: inline-block;
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: none;
  border-radius: 0px; }

.btn:focus, .btn:enabled, .btn:active {
  outline: none !important;
  box-shadow: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

.page2 {
  background: tan url('../img/page_02.jpg') no-repeat center center; }

.page3 {
  background: blue url('../img/page_03.jpg') no-repeat center center; }

.page4 {
  background: red url('../img/page_04.jpg') no-repeat center center; }

.page5 {
  background: gray url('../img/page_05.jpg') no-repeat center center; }

/* Custom page CSS
-------------------------------------------------- */
h1, h2, h3, h4 {
  font-family: "Amatic SC", cursive; }

body {
  font-family: "Cantarell", Arial, sans-serif;
  background-color: #EAEAEA;
  width: 100%;
  height: 100%; }

.wrapper img {
  max-height: 100%; }

.glyphicon {
  color: #525249;
  font-size: 16px; }

.top-bar {
  padding-top: 5px;
  text-align: center; }
  .top-bar > div {
    display: inline-block; }
  .top-bar .link-out {
    padding-top: 3px;
    float: left;
    color: #005187; }
    .top-bar .link-out a {
      color: #005187;
      text-decoration: underline; }
  .top-bar .social-buttons {
    margin: 0 auto; }
    .top-bar .social-buttons li {
      border-right: 1px solid #000; }
    .top-bar .social-buttons li:last-child {
      border: none; }
    .top-bar .social-buttons a {
      padding: 0 10px; }
      .top-bar .social-buttons a img {
        height: 25px;
        width: auto; }
  .top-bar .logo {
    clear: right;
    float: right; }
    .top-bar .logo img {
      height: 30px;
      width: auto; }
  .top-bar li {
    display: inline-block;
    list-style-type: none; }
    .top-bar li a {
      height: 35px; }
  .top-bar img {
    height: 100%; }

.container .text-muted {
  margin: 20px 0; }

.overlay-buttons {
  width: 100%;
  position: absolute;
  top: 43%;
  z-index: 200; }
  .overlay-buttons > button {
    border-radius: 8px;
    cursor: pointer;
    width: 30px;
    height: 120px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    text-align: center;
    padding: 0; }
  .overlay-buttons > button:visited {
    background-color: rgba(255, 255, 255, 0.5); }
  .overlay-buttons > button:hover {
    background-color: rgba(255, 255, 255, 0.75); }
  .overlay-buttons > button:active {
    background-color: rgba(255, 255, 255, 0.5); }
  .overlay-buttons .button-left {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    left: 0; }
  .overlay-buttons .button-right {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    right: 0; }

.button-row {
  display: block; }

.page-turner-container {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 201; }

nav.page-turner {
  border-radius: 5px 5px 0 0;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  width: 460px; }
  nav.page-turner .hide-nav span {
    display: inline-block;
    width: 100%;
    -webkit-transition: all 0.01s ease-in-out;
    -o-transition: all 0.01s ease-in-out;
    transition: all 0.01s ease-in-out;
    vertical-align: middle;
    position: static; }

li.thumb-scroll-window {
  width: 384px;
  height: 100px;
  overflow: hidden;
  position: relative; }
  li.thumb-scroll-window .holder {
    width: 2244px;
    height: 88px;
    text-align: center;
    padding: 0 124px;
    position: absolute; }

ul.thumb-viewer {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 4px; }

ul {
  padding: 0; }

li {
  display: inline-block;
  float: left; }

ul.thumb-viewer.ng-hide {
  opacity: 0; }

.prev.btn, .next.btn {
  height: 80px; }

.page-thumbnail {
  display: block;
  margin: 4px;
  line-height: 1.42857143;
  background-color: #555;
  -webkit-transition: all 0.01s ease-in-out;
  -o-transition: all 0.01s ease-in-out;
  transition: all 0.01s ease-in-out; }
  .page-thumbnail img {
    opacity: 0.3;
    height: 80px; }

.active-thumb img {
  opacity: 1; }

.page-thumbnail img:hover {
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1Cs ease-in-out;
  opacity: 1; }

footer {
  text-align: right;
  height: 20px;
  padding-top: 5px; }

.page-number {
  width: 120px;
  display: inline-block;
  color: gray; }

.hide-arrow {
  visibility: hidden !important;
  display: inline-block; }

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

/*----- 
 Placing .wrapper next to media queries for less scrolling
 --------*/
.wrapper {
  width: 1210px;
  height: 835px;
  margin: 0 auto;
  padding: 0px 20px 10px 20px;
  background-color: white;
  position: relative; }

/*--Styles for slides!--*/
.slides {
  height: 760px;
  width: 1170px;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: url('../img/ajax-loader.gif') no-repeat center center; }

.page-wrapper {
  position: relative;
  width: 3510px;
  left: 0; }

.view-container {
  position: absolute;
  overflow: hidden; }

.page-container {
  position: relative;
  width: 1170px;
  height: 760px; }

/* Styles for the next and previous pages that "peek" in */
.peek-next, .peek-prev, .center {
  position: relative;
  float: left;
  width: 1170px;
  height: 760px; }

/* Media Queries */
@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 1024px;
    height: 714.6px; }
  .page-container, .slides, .peek-next, .peek-prev, .page-wrapper {
    height: 639.6px !important;
    width: 984px !important; } }

/* colors 
	text blue: #007197
	text orange: #F7A700
*/
/*----------------------------------------------
/* These are classes to include in the HTML
not terribly semantic, but fast production-wise */
.blue {
  color: #007197; }

.light-orange {
  color: #F7A700; }

/* fonts */
.amatic {
  font-family: "Amatic SC", sans-serif !important; }

.cantarell {
  font-family: "Cantarell", Arial, sans-serif !important; }

/*----------------------------------------------*/
/* --- page1 ------ */
.page1 {
  background: url('../img/page_01.jpg') no-repeat center center;
  background-size: 100%;
  opacity: 1; }
  .page1 span.cantarell {
    font-size: 40px;
    line-height: 100%;
    text-align: left;
    margin-left: -40px;
    display: block; }
  .page1 span.amatic {
    font-size: 120px;
    display: block; }
  .page1 .logo {
    position: absolute;
    left: 5%;
    bottom: 20%;
    opacity: 0;
    width: 366px; }
  .page1 .headline {
    position: absolute;
    bottom: 50%;
    left: 0;
    opacity: 0; }
  .page1 .polaroids {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0; }

@media only screen and (max-width: 1024px) {
  .page1 span.cantarell {
    font-size: 25px; }
  .page1 span.amatic {
    font-size: 100px; }
  .page1 .logo {
    width: 300px; }
  .page1 .polaroids img {
    height: 639.6px; } }

/* --- page2 ------ */
.page2 {
  background: url('../img/page_02.jpg') no-repeat center center;
  background-size: 100%;
  opacity: 1; }
  .page2 span.cantarell {
    font-size: 40px;
    line-height: 100%;
    text-align: left;
    margin-left: -40px;
    display: block; }
  .page2 span.amatic {
    font-size: 120px;
    display: block; }

@media only screen and (max-width: 1024px) { }
