<!--partial-->
<script type="text/javascript">
//runJQuery is called in the angular app after this view partial loads.
function runJQuery(){
	var clickAnywhereToClose = false;

			
 		var tl = new TimelineLite ();	
			tl.set(".view-container .clickme", {scale:.01});
		
		      tl.add (TweenLite.set(".page13 #bluebar", {y:0, x:350, autoAlpha:1}));
			   tl.add (TweenLite.set(".page13 #arrow", {y:-50, x:0, opacity:0}));	
			  tl.to(".page13 .headline h1", 1, {autoAlpha:1, delay:1})
			    .to(".page13 #bluebar", .7, {x:0, y:0, autoAlpha:1, ease:Back.easeOut,onStart:doAnimation}, "-=.7")
				.to(".page13 #arrow", .7, {x:0, y:0, autoAlpha:1, ease:Elastic.easeOut}, "+=.7");
			
		  	  function doAnimation(){
		  		 $(".view-container .clickme").each(function(index){
		  		 			$(this).delay(800*index).queue(function(next){
		  						TweenLite.set($(this), {scale:1});
		  						$(this).addClass('bounce');
		  						$(this).dequeue();
		  					});
		  			});
		  	  }	
};

</script>

<div class="page13 page-container">

	<div class="headline">
	    <h1 class="amatic pantone166">Dreams Can Come True</h1>
	</div>
	
		<div id="bluebar">	
		<p class="white">At Aegis Living, we are honored to learn the rich history and unique stories of each of our residents. We cherish their full and extraordinary lives. It is our privilege to capture a moment in time and give it back to them.  </p>
		<img id="arrow" src="img/page_13_arrow.png" alt="world war II pilot reunites with B-52 bomber">	
			<div id="vid-wrap">
				<div id="videobox" ng-click="doYoutube('fxMXUU5XILE')"><img id="video-play" src="img/page_03_play.png" alt="play"></div>
			</div>
		</div>
	
	<div class="click-layer" ng-class="{'clicked':  targetState != 'none'}" ng-click="setTargetState()" ng-init="setTargetState()"  ></div>

	<div class="one targetWrapper" ng-click="setTargetState('one')" ng-class="{'clicked': targetState == 'one'}">
<div id="clickme" class="clickme"><ng-include src="addSVG()"></ng-include></div>
	<div id="clicktext" class="clicktext">
	<h4 class="pantone633 cantarell bold">Fly fishing in assisted living?</h4>
	<p> Yep. Fred loves it. In fact, he practices in the activity room and now his community has a Fly Fishing Club. Share your interests and we’ll share a way to enjoy to them. We believe the word impossible is spelled, “I’m possible.”</p>
	</div>
</div>

	
</div>

