<!--partial-->


<div class="page9 page-container">
	
<img id="roses" src="img/page_09_roses.png" alt="check out our furry friends">
	
<div class="headline">
    <h1 class="amatic pantone166">Explore</h1>
	<h2 class="amatic white">Your World</h2>
</div>
	
	
<div id="bluebar">	
	<h3>Walking Club</h3>
	<p>Walking hand-in-hand as the seasons change from shades of green, to amber, to hues of grey, then green once more.</p>	
		<div id="vid-wrap">
			<div id="videobox" ng-click="doYoutube('8bc9zsxqgW8')"><img id="video-play" src="img/page_03_play.png" alt="play"></div>
		</div>
	<h3 class="movedown">Scenic Drives</h3>
	<p>Enjoy the bustle of the city, the view of the mountains, the vastness of the ocean, and lush green scenery pass softly by your window.</p>
	<h3 class="moveup">Gardening</h3>
	<p>Gardening adds years to your life and life to your years.</p>
	
</div>

