<!--partial 2-->

<script type="text/javascript">

function runJQuery(){

	var clickAnywhereToClose = false;
	//var svgElement = document.getElementById("circlegroup");
	
      	var tl = new TimelineLite ();	
		  tl.add (TweenLite.set(".page2 #pic1", {y:1200, x:800, autoAlpha:1}));	
	      tl.add (TweenLite.set(".page2 #pic2", {y:1200, x:800, autoAlpha:1}));	
		  tl.add (TweenLite.set(".page2 #pic3", {y:1200, x:800, autoAlpha:1}));
		  tl.add (TweenLite.set(".page2 #circle", {scale:.5}));

			tl.to(".page2 .headline h1", 1, {autoAlpha:1, delay:1})
			  .to(".page2 .headline span.line1", 1, {autoAlpha:1}, "-=.5")
			  .to(".page2 #circle", .5, {autoAlpha:1,scale:1,ease:Power3.easeOut}, "-=.2")
		      .to(".page2 .headline span.line2", 1, {autoAlpha:1}, "+=.5")
		      .to(".page2 .headline span.line3", 1, {autoAlpha:1}, "-=.5")
		      .to(".page2 .headline span.line4", 1, {autoAlpha:1}, "-=.5")
		      .to(".page2 .headline span.line5", 1, {autoAlpha:1}, "-=.5")
			  .to(".page2 #pic1", 1, {x:0, y:0, rotation:-4, autoAlpha:1, ease:Power1.easeOut}, "-=3")
			  .to(".page2 #pic2", 1, {x:0, y:0, rotation:-1, autoAlpha:1, ease:Power3.easeOut}, "-=2.5")
			  .to(".page2 #pic3", 1, {x:0, y:0, rotation:7, autoAlpha:1, ease:Power3.easeOut},  "-=2")

			  .to(".page2 #clickme", 1, {autoAlpha:1, delay:1});
		
			$('.page2 #clickme').on('click', function () {
				$(this).find("#circle-one")[ 0 ].setAttribute('stroke', 'rgb(118,195,212)');
				$(this).find("#circle-two")[ 0 ].setAttribute('stroke', 'rgb(118,195,212)');
				$(this).find("#circle-plus")[ 0 ].setAttribute('fill', 'rgb(118,195,212)');
				/*if(!$('.view-container .page-container .click-layer').length){
					$('.view-container .page-container').prepend("<div class='click-layer'></div>");
				}*/
					$(document).off('click');
				    clickAnywhereToClose = true;	
					$('.page2 #clicktext').fadeIn( "fast", "linear", function(){
						setUpClose('.page2 #clickme', this)
					});
					
			});
			
			function setUpClose(exceptionCase, obj)
			{ 	
				//exceptionCase == other buttons we want to keep listening to
				$(document).on('click', function(event) {
					if (  clickAnywhereToClose && !$(event.target).closest(exceptionCase).length ) 
						  {
						    $(obj).fadeOut("fast", "linear");
						    	clickAnywhereToClose = false;
							}
							$('.view-container svg #circle-one').each(function( index ) {
								  $( this )[0].setAttribute('stroke', 'rgb(255,255,255)');
							});
							$('.view-container svg #circle-two').each(function( index ) {
								  $( this )[0].setAttribute('stroke', 'rgb(255,255,255)');
							});
							$('.view-container svg #circle-plus').each(function( index ) {
								  $( this )[0].setAttribute('fill', 'rgb(255,255,255)');
							});
						})
			}
			
		
			//TARGET IMAGE PULSING FADE IN AND OUT
			//TweenMax.to(".page2 #clickme", 1, {alpha:.3, repeatDelay:.2, repeat:10, yoyo:true})
};

</script>

<div class="page2 page-container">
	
	<div id="clickme"><ng-include src="addSVG()"></ng-include></div>
	<div id="clicktext">
	<h4 class="pantone633 cantarell bold">What is the<br />Life Enrichment Program?</h4>
	<p>Our Life Enrichment program is just that – to enrich the daily lives of our residents in big and small ways.  We want to bring a smile to everyday, offer a unique challenge, teach something new, or share warm memories from the past.  Our Life Enrichment Directors customize our daily activities to stimulate the mind, increase physical activity, and nurture the emotional health of each resident. </p>
	</div>
	
	<img id="circle" src="img/page_02_circle.png" alt="pure joy">
	<img id="pic1" src="img/page_02_pic1.jpg" alt="couple smiling">
	<img id="pic2" src="img/page_02_pic2.jpg" alt="woman smiling">
	<img id="pic3" src="img/page_02_pic3.jpg" alt="man smiling">	
	
	<div class="headline">
		<h1><span class="amatic pantone633">From Dawn to Dusk</span></h1>	
		<h3 class="cantarell">
			<span class="line1 pantone166">Creating moments of</span><br />
			<span class="line2">Each moment adding <br />to the next to create</span><br />
			<span class="line3 pantone130">A joyful day.</span><br />
			<span class="line4 pantone152">A full week.</span><br />
			<span class="line5 pantone166">A happy life.</span>			
		</h3>	
	</div>
	

</div>

