<!--partial-->
<script type="text/javascript">
//runJQuery is called in the angular app after this view partial loads.
function runJQuery(){

		var tl = new TimelineLite ();	
			  tl.to(".page5 .headline h1", 1, {autoAlpha:1, delay:1})
			    .to(".page5 .headline h2", 1, {autoAlpha:1}, "-=.5")			    
				.to(".page5 .headline p", 1, {autoAlpha:1}, "-=1")
				.to(".page5 #play-dot", 1, {autoAlpha:1}, "-=.2")
				.to(".page5 #slot1", 1, {autoAlpha:1}, "-=.5")
				.to(".page5 #slot2", 1, {autoAlpha:1}, "-=.5")
				.to(".page5 #slot3", 1, {autoAlpha:1}, "-=.5");
			
					$('.page5 button').on('click', function () {
						$('.page5 #clicktext').fadeToggle( "fast", "linear");
					});
	
	
							
									

				
				
									var machine1 = $('#machineFake1').slotMachine({
										active:2,
										delay: 400,
									});
									var machine2 = $('#machineFake2').slotMachine({
										active:5,
										delay: 400,
									});
									
									var machine3 = $('#machineFake3').slotMachine({
										active:9,
										delay: 400,
									});
									machine1.shuffle(2);
									machine2.shuffle(3);
									machine3.shuffle(4);
										
									var clickCount = 0;
				
									$("#play-dot").click(function(){
										TweenLite.set($("#play-dot"), {x:0, y:0, scale:.9});
										TweenLite.to($("#play-dot"),.1, {x:0, y:0, scale:1,delay:.3});
										if (clickCount+1 ==1){
											machine1.shuffle(3);
											machine2.shuffle(3.5);
											machine3.shuffle(4);
											clickCount =+ 1;
										}else{
											machine1.setRandomize(9);
											machine2.setRandomize(9);
											machine3.setRandomize(9);
											machine1.shuffle(3);
											machine2.shuffle(3.5);
											machine3.shuffle(4);
										}
										
									});
				
				/*					var machine1 = $("#machineFake1").slotMachine({
														active	: 1,
														delay	: 500,
														auto	: 500,
														complete: function(){

														}
													});
													machine1.setRandomize(function(){
														return 9;
													});
									var machine2 = $("#machineFake2").slotMachine({
														active	: 1,
														delay	: 500,
														auto	: 1500,
														complete: function(){

														}
													});
													machine2.setRandomize(function(){
														return 9;
													});
									var machine3 = $("#machineFake3").slotMachine({
														active	: 5,
														delay	: 500,
														auto	: 1000,
														complete: function(){
															
														}
													});
													machine3.setRandomize(function(){
														return 9;
													});
						
	*/
	
	
	
};
</script>


<div class="page5 page-container">

	<img id="play-dot" src="img/page_05_circle.png" alt="play">
	
	<div class="headline">
	    <h1 class="amatic pantone633">Mid-day Mind Play</h1>
		<h2 class="cantarell pantone166">Laugh like you won the jackpot!</h2>
	<p class="headline">Our rotating selection of signature brain fitness programs encourage a little friendly competition, active participation, and mental calisthenics to keep the mind sharp.</p>
	</div>
	
	<style>

	.slotWrapper {
		top: 60px;
		text-align: left;
		width: 620px;
	}
	.machineBorder{
		display:inline-block;
		border: 3px double orange;
		margin-right: 10px;
		-webkit-border-radius: 14px;
		-moz-border-radius: 14px;
		border-radius: 14px;
		background-color: #fff;
		overflow: hidden;
		height: 320px;
		width:190px;
	}
	.machineContainer{
		background-color: #000;
		overflow: hidden;
		height: 320px;
		width:190px;

	}
	.slotMachine{
		height: 320px;
		width:100%;
		/*border: 5px solid #000;*/
		
		padding: 0px;
		overflow: hidden;
		display: inline-block;
		text-align: center;
		/*margin: 0px 5px;*/
		/*border: 5px solid #000;*/
		background-color: #ffffff;
	}
	.machineResult{
		color:#fff;
		text-align:center;
		font-weight: 900;
	}
	.noBorder{
		border:none !important;
		background: transparent !important;
	}
	.slotMachine .slot {
		height: 320px;
		width: 190px;
		background-size: cover;
		background-position-x: 50%;
		background-repeat: no-repeat;
	}
	.slot1{
		background-image: url("img/slot-1.jpg");
	}
	.slot2{
			background-image: url("img/slot-2.jpg");	
	}
	.slot3{
			background-image: url("img/slot-3.jpg");	}
	.slot4{
			background-image: url("img/slot-4.jpg");	}
	.slot5{
			background-image: url("img/slot-5.jpg");	}
	.slot6{
			background-image: url("img/slot-6.jpg");	}
	.slot7{
			background-image: url("img/slot-7.jpg");	}
	.slot8{
			background-image: url("img/slot-8.jpg");	}
	.slot9{
			background-image: url("img/slot-9.jpg");	}
	.slot10{
			background-image: url("img/slot-10.jpg");	}




	#textMachine, #textMachine2{
		width:520px;
		height: 67px;
		overflow: hidden;
		display: inline-block;
		text-align: left;
	}
	#textMachine > *, #textMachine2 > *{
		padding: 0px 0px;
	}




	.slotMachineButton{
		width:100px;
		height: 100px;
		overflow: hidden;
		display: inline-block;
		text-align: center;
	}
	.slotMachineButton {
		-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
		-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
		box-shadow:inset 0px 1px 0px 0px #fce2c1;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
		background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
		background-color:#ffc477;
		border-radius: 75px;
		text-indent:0px;
		border:6px solid #eeb44f;
		display:inline-block;
		color:#ffffff;
		font-size:40px;
		font-weight:bold;
		font-style:normal;
		height:100px;
		line-height:90px;
		margin-top:10px;
		width:100px;
		text-decoration:none;
		text-align:center;
		text-shadow:1px 1px 0px #cc9f52;
		cursor:pointer;
	}
	.slotMachineButton:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
		background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
		background-color:#fb9e25;
	}.slotMachineButton:active {
		position:relative;
		top:1px;
	}
	.slotWrapper{
		width:620px;
	}
	
	</style>
	
	

<div id="slots">
	<div class="content" style="text-align: center">
		<div class="slotWrapper">
			<div class="machineBorder">
				<div class="machineContainer">
					<div id="machineFake1" class="slotMachine">
						<div class="slot slot1"></div>
						<div class="slot slot2"></div>
						<div class="slot slot3"></div>
						<div class="slot slot4"></div>
						<div class="slot slot5"></div>
						<div class="slot slot6"></div>
						<div class="slot slot7"></div>
						<div class="slot slot8"></div>
						<div class="slot slot9"></div>
						<div class="slot slot10"></div>
					</div>
				</div>
			</div>
			<div class="machineBorder">
				<div class="machineContainer">
					<div id="machineFake2" class="slotMachine">
						<div class="slot slot1"></div>
						<div class="slot slot2"></div>
						<div class="slot slot3"></div>
						<div class="slot slot4"></div>
						<div class="slot slot5"></div>
						<div class="slot slot6"></div>
						<div class="slot slot7"></div>
						<div class="slot slot8"></div>
						<div class="slot slot9"></div>
						<div class="slot slot10"></div>
					</div>
				</div>
			</div>
			<div class="machineBorder">
				<div class="machineContainer">
					<div id="machineFake3" class="slotMachine">
						<div class="slot slot1"></div>
						<div class="slot slot2"></div>
						<div class="slot slot3"></div>
						<div class="slot slot4"></div>
						<div class="slot slot5"></div>
						<div class="slot slot6"></div>
						<div class="slot slot7"></div>
						<div class="slot slot8"></div>
						<div class="slot slot9"></div>
						<div class="slot slot10"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


	
	
	
    <button><div id="clickme"><ng-include src="addSVG()"></ng-include></div></button>
	<div id="clicktext">
	<h4 class="pantone633 cantarell bold">Join the Club</h4>
	<p>Keep your mind sharp, as well as, your card-shark skills as part of the bridge club or poker. Or if you are more of the creative type, a poetry club might be a new challenge. And for those world travelers, it is never too late to learn a new language- bueno!</p>
	</div>
	
	<!--div id="slots">
		<img id="slot1" class="slot" src="img/page_05_slot_lang.png" alt="slot1">
		<img id="slot2" class="slot" src="img/page_05_slot_games.png" alt="slot2">
		<img id="slot3" class="slot" src="img/page_05_slot_bridge.png" alt="slot3">
	</div-->
	
</div>