<!--partial-->


<div class="page12 page-container">

<div class="headline">
	    <h1 class="amatic white">Let Us Entertain You</h1>
		<p class="white">Sit back, relax, and share a classic movie with your friends. We will pop the popcorn – your seat is waiting!</p>	
</div>



<img id="filmstrip" src="img/page_12_filmstrip.png" alt="filmstrip">	

<div id="vid-wrap">
	<div id="videobox" ng-click="doYoutube('mY9qfcjhoLs')"><img id="video-play" src="img/page_03_play.png" alt="play"></div>
</div>

	<img id="filmpic1" src="img/page_12_pic1.jpg" alt="film one">
	<img id="filmpic2" src="img/page_12_pic2.jpg" alt="film two">
	<img id="filmpic3" src="img/page_12_pic3.jpg" alt="film three">
	<img id="filmpic4" src="img/page_12_pic4.jpg" alt="film four">
	
<img id="arrow" src="img/page_12_arrow.png" alt="dance to live music">	


	<div class="click-layer" ng-class="{'clicked':  targetState != 'none'}" ng-click="setTargetState()" ng-init="setTargetState()"  ></div>

	<div class="one targetWrapper" ng-click="setTargetState('one')" ng-class="{'clicked': targetState == 'one'}">

<div id="clickme" class="clickme"><ng-include src="addSVG()"></ng-include></div>
<div id="clicktext" class="clicktext">
<h4 class="pantone166 cantarell bold">Never Act Your Age!</h4>
<p>Video games are not only for the young, but also the young at heart. Our Wii activities allow our residents to be physically active – aiding with joint mobility, balance, and coordination. Also gaming can bridge the generational gap – so bring the grandkids to join in a little friendly competition. But watch out, Grandma knows how to pick up a 7-10 split!</p>
</div>
</div>



</div>

