<!--partial-->
<script type="text/javascript">
//runJQuery is called in the angular app after this view partial loads.
function runJQuery(){
		var clickAnywhereToClose = false;
		
		var tl = new TimelineLite ();
			tl.set(".view-container .clickme", {scale:.01});
			tl.add (TweenLite.set(".page10 #stay-connected", {y:0, x:-300}));
  		    tl.pause();//crazy sound alert thing
			
			tl.to(".page10 .headline h1", 1, {autoAlpha:1, delay:1})
			  .to(".page10 .headline p", 1, {autoAlpha:1, delay:.2}, "-=.7")
			  .to(".page10 #stay-connected", 1.7, {x:0, y:0, autoAlpha:1, ease:Elastic.easeOut,onStart: doAnimation}, "-=.7");

			  function doAnimation(){
				 $(".view-container .clickme").each(function(index){
				 			$(this).delay(800*index).queue(function(next){
	 							TweenLite.set($(this), {scale:1});
								$(this).addClass('bounce');
								$(this).dequeue();
							});
					});
			  }	 
			  angular.element('.screenWrapper').scope().soundAlert(tl);
			  
				
};

</script>

<div class="page10 page-container">
	
<div class="headline">
    <h1 class="amatic pantone166">Strong Family Ties</h1>
	<p>Families are as close as a click away. At Aegis, we are happy to assist our residents with Skype to bring loved ones face-to-face. </p>
</div>

<img id="stay-connected" src="img/page_10_arrow.png" alt="Stay connected">

<div id="vid-wrap">
<div id="videobox" ng-click="doYoutube('4H_GOu5vW68')"><img id="video-play" src="img/page_03_play.png" alt="play"></div>
</div>

	<div class="click-layer" ng-class="{'clicked':  targetState != 'none'}" ng-click="setTargetState()" ng-init="setTargetState()"  ></div>

	<div class="one targetWrapper" ng-click="setTargetState('one')" ng-class="{'clicked': targetState == 'one'}">
<div id="clickme1" class="clickme"><ng-include src="addSVG()"></ng-include></div>
<div id="clicktext1" class="clicktext">
<h4 class="pantone633 cantarell bold">Put Us on Your Calendar</h4>
<p>Throughout the year, communities will plan family dinners, holiday events, live music, happy hour, ice cream socials and outings to encourage family members to participate at the community and meet the other families living there.</p>
</div>
</div>

	<div class="two targetWrapper" ng-click="setTargetState('two')" ng-class="{'clicked': targetState == 'two'}">
<div id="clickme2" class="clickme"><ng-include src="addSVG()"></ng-include></div>
<div id="clicktext2" class="clicktext">
<h4 class="pantone633 cantarell bold">The Most Meaningful Visits</h4>
<p>You are always welcome to join us at Aegis. Family and friends are the heart of any home. Share your photos, favorite recipes, or tell us your family stories – knowing details about our residents helps us do our jobs even better! </p>
</div>
</div>
	
</div>

