<!--partial 2-->

<script type="text/javascript">

function runJQuery(){

	console.log('RUN 02');
	//var svgElement = document.getElementById("circlegroup");
	
      	var tl = new TimelineLite ();	
			tl.add (TweenLite.set(".view-container .clickme", {scale:.01}));
		  tl.add (TweenLite.set(".page2 #pic1", {y:1200, x:800, autoAlpha:1}));	
	      tl.add (TweenLite.set(".page2 #pic2", {y:1200, x:800, autoAlpha:1}));	
		  tl.add (TweenLite.set(".page2 #pic3", {y:1200, x:800, autoAlpha:1}));
		  tl.add (TweenLite.set(".page2 #circle", {scale:.5}));
		  tl.pause();//crazy sound alert thing
			tl.to(".page2 .headline h1", 1, {autoAlpha:1, delay:1})
			  .to(".page2 .headline span.line1", 1, {autoAlpha:1}, "-=.5")
			  .to(".page2 #circle", .5, {autoAlpha:1,scale:1,ease:Power3.easeOut}, "-=.5")
		      .to(".page2 .headline span.line2", 1, {autoAlpha:1}, "+=.5")
		      .to(".page2 .headline span.line3", 1, {autoAlpha:1}, "-=.5")
		      .to(".page2 .headline span.line4", 1, {autoAlpha:1}, "-=.5")
		      .to(".page2 .headline span.line5", 1, {autoAlpha:1}, "-=.5")
			  .to(".page2 #pic1", 1, {x:170, y:445, rotation:-4, autoAlpha:1, ease:Power1.easeOut}, "-=2")
			  .to(".page2 #pic2", 1, {x:190, y:455, rotation:-1, autoAlpha:1, ease:Power3.easeOut}, "-=1.5")
			  .to(".page2 #pic3", 1, {x:390, y:455, rotation:7, autoAlpha:1, ease:Power3.easeOut,onStart:doAnimation},  "-=1")
		  .staggerTo(".view-container .clickme", 1, {scale:1, ease:Quad.easeOut}, 1);
			  
		  function doAnimation(){
			 $(".view-container .clickme").each(function(index){
			 			$(this).delay(800*index).queue(function(next){
 							TweenLite.set($(this), {scale:1});
							$(this).addClass('bounce');
							$(this).dequeue();
						});
				});
		  }	 
		  
		
		  angular.element('.screenWrapper').scope().soundAlert(tl);
		  angular.element('body').scope().updateTween(tl);
			
			
};

</script>

<div class="page2 page-container">
	
	


	<img id="circle" src="img/page_02_circle.png" alt="pure joy">
	<img id="pic1" src="img/page_02_pic1.jpg" alt="couple smiling">
	<img id="pic2" src="img/page_02_pic2.jpg" alt="woman smiling">
	<img id="pic3" src="img/page_02_pic3.jpg" alt="man smiling">	
	
	<div class="headline">
		<h1><span class="amatic pantone633">From Dawn to Dusk</span></h1>	
		<h3 class="cantarell">
			<span class="line1 pantone166">Creating moments of</span><br />
			<span class="line2">Each moment adding <br />to the next to create</span><br />
			<span class="line3 pantone130">A joyful day.</span><br />
			<span class="line4 pantone152">A full week.</span><br />
			<span class="line5 pantone166">A happy life.</span>			
		</h3>	
	</div>
	
	
		<div class="click-layer" ng-class="{'clicked':  targetState != 'none'}" ng-click="setTargetState()" ng-init="setTargetState()"  ></div>
	
	<div class="one targetWrapper" ng-click="setTargetState('one')" ng-class="{'clicked': targetState == 'one'}">
		<div id="clickme" class="clickme"><ng-include src="addSVG()"></ng-include></div>
		<div id="clicktext" class="clicktext">
		<h4 class="pantone633 cantarell bold">What is the<br />Life Enrichment Program?</h4>
		<p>Our Life Enrichment  program does just that—enriches daily lives!  Every day we work to bring smiles with new challenges, friendships and purpose-filled fun for residents. Our Life Enrichment Directors customize our daily activities to stimulate the mind, increase physical activity, and nurture the emotional health of each resident. </p>
		</div>
	</div>
	
	

</div>

