<!--partial-->
<script type="text/javascript">
//runJQuery is called in the angular app after this view partial loads.
function runJQuery(){
		console.log("im ready!");		
 	

			var tl = new TimelineLite ();			
				  tl.to(".page14 .headline h1", 1, {autoAlpha:1, delay:.2})
				  .to(".page14 #logo", 1, {autoAlpha:1})
				  .to(".page14 .headline p", 1, {autoAlpha:1})
				  .to(".page14 #button", 1, {autoAlpha:1}, "-=.8")
				   .fromTo(".page14 #mask", 1, {css:{width:0}}, {css:{width:800}, ease:Power1.easeOut}, "-=2")
				  .to(".page14 #swirl", 1, {autoAlpha:1}, "-=2");
};

</script>

<div class="page14 page-container">

	<div class="headline">
	    <h1 class="amatic white">What does your day look like tomorrow?</h1>
	    <p class="amatic white">Learn more about the Life Enrichment program at an Aegis Living near you!</p>
	</div>

	<div id="mask">
	<div id="swirl"><img src="img/page_14_swirl.png" alt="swirl"></div>
	</div>

    <img id="logo" src="img/page_14_logo.png" alt="Aegis Living">
    
	<a href="#"><img id="button" src="img/page_14_button.png" alt="Learn More"></a>
	<p id="disclaimer" class="white">Programs vary by community</p>
	
</div>

