<!--partial-->


<div class="page8 page-container">

	<div class="headline">
	    <h1 class="amatic white">Where Can You Find a New Friend</h1>
		<h2 class="amatic white">that Feels like an Old Friend?</h2>
	</div>
	
		<div id="bluebar">
		
			<h3>Memory Care:</h3>
			<h4 class="white">Making new friends</h4>
			<p>For those dealing with memory loss, meeting new friends who share the same challenges can be priceless. Our Friendship Club is specifically designed for seniors in the early stages of dementia. It provides a unique setting where residents can socialize and actively engage with their peers. This program helps to prevent isolation, slow memory loss, and lessen frustration.</p>	
		<div id="vid-wrap">
		<img id="arrowtext" src="img/page_08_arrowtext.png" alt="check out our furry friends">
			<div id="mask">
				<img id="arrow" src="img/page_08_arrow.png" alt="arrow">	
			</div>
		<div id="videobox" ng-click="doYoutube('rYHyenJODCE')"><img id="video-play" src="img/page_03_play.png" alt="play"></div>
		</div>
	</div>

	<img id="pic1" src="img/page_08_pic1.jpg" alt="pic1">
	<img id="pic2" src="img/page_08_pic2.jpg" alt="pic2">
	
	
	<div class="click-layer" ng-class="{'clicked':  targetState != 'none'}" ng-click="setTargetState()" ng-init="setTargetState()"  ></div>
	
	<div class="one targetWrapper" ng-click="setTargetState('one')" ng-class="{'clicked': targetState == 'one'}">
	<div id="clickme1" class="clickme"><ng-include src="addSVG()"></ng-include></div>
	<div id="clicktext1" class="clicktext">
	<h4 class="pantone166 cantarell bold">Pinkies Up!</h4>
	<p>Alice loved getting dressed for High Tea. Today, she donned a pillbox hat, white gloves, and a bright fuchsia boa. She blinked back tears, as the chef presented her with a pink frosted birthday cake.</p>
	</div>
	</div>
	
	<div class="two targetWrapper" ng-click="setTargetState('two')" ng-class="{'clicked': targetState == 'two'}">
	<div id="clickme2" class="clickme"><ng-include src="addSVG()"></ng-include></div>
	<div id="clicktext2" class="clicktext">
	<h4 class="pantone633 cantarell bold">Being the “new kid” can be tough, no matter what age you are!</h4>
	<p>Our staff cultivates friendships among all of our residents. They take special care with new residents to make introductions, engage them in activities, and seat them in the dining room with new friends.</p>
	</div>
</div>
	
	<div class="three targetWrapper" ng-click="setTargetState('three')" ng-class="{'clicked': targetState == 'three'}">
		<div id="clickme3" class="clickme"><ng-include src="addSVG()"></ng-include></div>
	<div id="clicktext3" class="clicktext">
	<h4 class="pantone166 cantarell bold">Sports Cave</h4>
	<p>Spring baseball was Norm’s favorite time of year. He can still remember the smell of fresh cut grass at his sons’ little league games. Now they are grown, but sit with their dad and the rest of the Men’s Club in front of the wide screen television drinking root beer and cheering for the Mariner’s.</p>
	</div>
</div>
	
</div>

