<!--partial-->


<div class="page7 page-container">

	<div class="headline">
	    <h1 class="amatic pantone166">Discover</h1>
		<h2 class="amatic pantone633">New Talents</h2>
	</div>

	<img id="pic1" src="img/page_07_pic1.jpg" alt="1">
	<img id="pic2" src="img/page_07_pic2.jpg" alt="2">
	<img id="pic3" src="img/page_07_pic3.jpg" alt="3">
	
	<img id="splat1" src="img/page_07_splat1.png" alt="1">
	<img id="splat2" src="img/page_07_splat2.png" alt="1">
	<img id="splat3" src="img/page_07_splat3.png" alt="1">
	<img id="splat4" src="img/page_07_splat4.png" alt="1">
	
	
	<div id="vid-wrap">
	<div id="videobox" ng-click="doYoutube('esMb6nIlwzE')"><img id="video-play" src="img/page_03_play.png" alt="play"></div>
	</div>
	
</div>

