<!--partial-->
<script type="text/javascript">
//runJQuery is called in the angular app after this view partial loads.


</script>

<div class="page1 page-container">

	<div class="headline">
	    <h2 class="cantarell pantone633">It's the beginning of</h2>
		<h1 id="secondhead" class="amatic pantone130">A Beautiful Day</h1>
	</div>
	
	<div id="mask">
	<div id="swirl"><img src="img/page_01_swirl.png" alt="swirl"></div>
	</div>

	<img id="logo" src="img/page_01_logo.png" alt="Aegis Living">
	<img id="pic1" src="img/page_01_pic1.jpg" alt="petting a dog">
	<img id="pic2" src="img/page_01_pic2.jpg" alt="gardening">
	<img id="pic3" src="img/page_01_pic3.jpg" alt="car">
	<img id="pic4" src="img/page_01_pic4.jpg" alt="giggle">

	
</div>

