<!--partial-->
<script type="text/javascript">
//runJQuery is called in the angular app after this view partial loads.
function runJQuery(){

		var tl = new TimelineLite ();	
			  tl.to(".page5 .headline h1", 1, {autoAlpha:1, delay:1})
			    .to(".page5 .headline h2", 1, {autoAlpha:1}, "-=.5")			    
				.to(".page5 .headline p", 1, {autoAlpha:1}, "-=1")
				.to(".page5 #play-dot", 1, {autoAlpha:1}, "-=.2")
				.to(".page5 #slot1", 1, {autoAlpha:1}, "-=.5")
				.to(".page5 #slot2", 1, {autoAlpha:1}, "-=.5")
				.to(".page5 #slot3", 1, {autoAlpha:1}, "-=.5");
			
					$('.page5 button').on('click', function () {
						$('.page5 #clicktext').fadeToggle( "fast", "linear");
					});
	
};
</script>

<div class="page5 page-container">

	<img id="play-dot" src="img/page_05_circle.png" alt="play">
	
	<div class="headline">
	    <h1 class="amatic pantone633">Mid-day Mind Play</h1>
		<h2 class="cantarell pantone166">Laugh like you won the jackpot!</h2>
	<p class="headline">Our rotating selection of signature brain fitness programs encourage a little friendly competition, active participation, and mental calisthenics to keep the mind sharp.</p>
	</div>
	
    <button><div id="clickme"><ng-include src="addSVG()"></ng-include></div></button>
	<div id="clicktext">
	<h4 class="pantone633 cantarell bold">Join the Club</h4>
	<p>Keep your mind sharp, as well as, your card-shark skills as part of the bridge club or poker. Or if you are more of the creative type, a poetry club might be a new challenge. And for those world travelers, it is never too late to learn a new language- bueno!</p>
	</div>
	
	<div id="slots">
		<img id="slot1" class="slot" src="img/page_05_slot_lang.png" alt="slot1">
		<img id="slot2" class="slot" src="img/page_05_slot_games.png" alt="slot2">
		<img id="slot3" class="slot" src="img/page_05_slot_bridge.png" alt="slot3">
	</div>
	
</div>