<!--partial-->
<script type="text/javascript">

function runJQuery(){
		var tl = new TimelineLite ();
			  tl.add (TweenLite.set(".view-container .clickme", {scale:.01}));
			  tl.add (TweenLite.set(".page4 #vid-wrap", {y:0, x:-320, autoAlpha:1}));	
			  tl.add (TweenLite.set(".page4 #arrow", {y:-20, x:0, opacity:0}));	
			  tl.pause();//crazy sound alert thing
			  tl.to(".page4 .headline h1", 1, {autoAlpha:1, delay:1})
			    .to(".page4 .headline p", 1, {autoAlpha:1}, "-=.5")
				.fromTo(".page4 #mask", 1, {css:{height:0}}, {css:{height:800}, ease:Power1.easeOut}, "-=1")
				 .to(".page4 #class-list", 1, {autoAlpha:1}, "-=1")
			  .to(".page4 #vid-wrap", .7, {x:0, y:0, autoAlpha:1, ease:Power3.easeOut, onStart:doAnimation}, "-=.7")
			  .to(".page4 #arrow", .7, {x:0, y:0, autoAlpha:1, ease:Elastic.easeOut}, "+=.7")
			  .staggerTo(".view-container .clickme", 1, {scale:1, ease:Quad.easeOut}, 1);
			  
			  function doAnimation(){
				 $(".view-container .clickme").each(function(index){
				 			$(this).delay(800*index).queue(function(next){
	 							TweenLite.set($(this), {scale:1});
								$(this).addClass('bounce');
								$(this).dequeue();
							});
					});
			  }	 
			  angular.element('.screenWrapper').scope().soundAlert(tl)
				 		
};
	</script>		
		
<div class="page4 page-container">
	<div class="headline">
	    <h1 class="amatic pantone152"><span class="white">Stretch.</span> <span class="pantone130">Move.</span><span class="pantone166">Take a Deep Breath.</span> </h1>
	<p class="headline white">Daily exercise is not only good for the body, but boosts the spirit and mind. We offer a variety of activities to meet the interests and physical capabilities of our residents to improve their strength, coordination, and balance for healthy aging.</p>
	</div>


	<div id="mask">
	<div id="class-list" class="white">
		Yoga<br />
		Pilates<br />
		Zumba<br />
		Tai Chi<br />
		Walking Clubs<br />
		SingFit<br />
		Chair Exercises Classes<br />
		Bowling<br />
		Balance<br />
		Stretch<br />
		Fall Reduction<br />
		Miniture Golf<br />
		Wii Fitness
	</div>
	</div>


<div id="vid-wrap">
<img id="arrow" src="img/page_04_arrow.png" alt="live in action here">
		<div id="videobox" ng-click="doYoutube('sH8ywWOR63s')"><img id="video-play" src="img/page_03_play.png" alt="play"></div>
</div>


	<div class="click-layer" ng-class="{'clicked':  targetState != 'none'}" ng-click="setTargetState()" ng-init="setTargetState()"  ></div>


	
	<div class="one targetWrapper" ng-click="setTargetState('one')" ng-class="{'clicked': targetState == 'one'}">
		<div id="clickme1" class="clickme"><ng-include src="addSVG()"></ng-include></div>
	<div id="clicktext1" class="clicktext">
	<h4 class="pantone166 cantarell bold">I Want to Be a Part of It!</h4>
	<p>Join the chorus line and kick up your heels to Frank Sinatra’s popular song New York, New York! Our unique SingFit program combines mood-boosting, classic songs for this generation with singing, dancing and reminiscing. So hold up your jazz hands and belt out the songs like no one is listening!</p>
	</div>
	</div>
	
	<div class="one targetWrapper" ng-click="setTargetState('two')" ng-class="{'clicked': targetState == 'two'}"><div id="clickme2" class="clickme"><ng-include src="addSVG()"></ng-include></div>
	<div id="clicktext2" class="clicktext">
	<h4 class="pantone166 cantarell bold">Staying Fit as You Sit!</h4>
	<p>Chair exercises are an ideal, safe way for our aging residents to get the exercise they need. We want our residents to stay as independent as possible, therefore a regular fitness routine can aid in flexibility, help with balance, increase strength, alleviate pain, and help reduce the occurrence of falls. Although our residents are seated, they still get a full range of movement and conditioning.</p>
	</div>	
	</div>
	




</div>



