<!--partial-->
<script type="text/javascript">
//runJQuery is called in the angular app after this view partial loads.
function runJQuery(){



			var tl = new TimelineLite ();			
			      tl.add (TweenLite.set(".page7 #pic1", {y:0, x:-800, autoAlpha:1}));	
			      tl.add (TweenLite.set(".page7 #pic2", {y:0, x:-800, autoAlpha:1}));	
				  tl.add (TweenLite.set(".page7 #pic3", {y:0, x:-800, autoAlpha:1}));	
	 	
				  tl.to(".page7 .headline h1", 1, {autoAlpha:1, delay:1})
				  .to(".page7 .headline h2", 1, {autoAlpha:1}, "-=.7")				
				  .to(".page7 #pic1", .7, {x:0, y:0, rotation:-4, autoAlpha:1, ease:Power3.easeOut}, "-=1.2")
				  .to(".page7 #splat1", 1, {autoAlpha:1}, "-=.7")	
		          .to(".page7 #pic2", 1, {x:0, y:0, rotation:6, delay:1, autoAlpha:1, ease:Power3.easeOut}, "-=1.7")
				  .to(".page7 #splat2", 1, {autoAlpha:1}, "-=.7")	
				  .to(".page7 #pic3", 1, {x:0, y:0, rotation:3, delay:1, autoAlpha:1, ease:Power3.easeOut}, "-=1.7")		
				  .to(".page7 #splat3", 1, {autoAlpha:1}, "-=.7")
				  .to(".page7 #vid-wrap", 1, {autoAlpha:1}, "-=1.2")	
				  .to(".page7 #splat4", 1, {autoAlpha:1}, "-=.7");			 	

				   
};

</script>

<div class="page7 page-container">

	<div class="headline">
	    <h1 class="amatic pantone166">Discover</h1>
		<h2 class="amatic pantone633">New Talents</h2>
	</div>

	<img id="pic1" src="img/page_07_pic1.jpg" alt="1">
	<img id="pic2" src="img/page_07_pic2.jpg" alt="2">
	<img id="pic3" src="img/page_07_pic3.jpg" alt="3">

	
	<img id="splat1" src="img/page_07_splat1.png" alt="1">
	<img id="splat2" src="img/page_07_splat2.png" alt="1">
	<img id="splat3" src="img/page_07_splat3.png" alt="1">
	<img id="splat4" src="img/page_07_splat4.png" alt="1">
	
	<div id="vid-wrap">
	<button><div id="videobox"><img id="video-play" src="img/page_03_play.png" alt="play"></button>
	</div>
	
</div>

