<!DOCTYPE html>
<html lang="en" ng-app="myEmag">
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<!-- Miles is eating potato chips. yummy  -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- HTML5 Boilerplate is packaged with angular-seed but I'm using boostrap styles 
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css"> -->
  <link href='http://fonts.googleapis.com/css?family=Cantarell:400,700,400italic,700italic|Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css"/>

  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/TweenMax.min.js"></script>
  <script type="text/javascript">
  
  $(document).ready(function(){
    getButtonSizes();
  });

  //darn global variables get off my lawn
  var currentPage;
  var totalPages;
  var slideDivTop;
  var slideDivBottom;
  var slideDivRight;
  var slideDiveLeft;
  var slideHeight;
  var slideWidth;

  //this function is called by angular when the view is changed
  function runPeekOnMouseover(page, total){
    currentPage = page;
    totalPages = total;
    console.log("total pages: " + totalPages );
      
      if (currentPage > 1 && currentPage < totalPages){
        $(".page-wrapper").css({"left": "-100%"});
        origPosition = "-100%";
      }
      if (currentPage === 1){
        $(".page-wrapper").css({"left": "0"});      
      }
    
      //find position and dimension of slide container
      init();

      $(window).resize(function(){
        //recalculate .slides div size if the page scales
        init();
      })

      //track mouse position
      $(".slides").mousemove(getMousePosition);
  };
    

  //create mouseover peek based on coordinates
  //----------------------------------------------------
  // based on https://www.cloudtec.ch/blog/web/change-image-with-jquery-mouse-position.html
   
  var isMouseOverLeftButton = isMouseOverRightButton = false;

  // get the initial button measurements as the page loads
  // we use the right button since the left is hidden by ng-hide on page 1
  // This should not update unless index.html reloads
  var buttonHeight;
  var buttonWidth;

  function getButtonSizes(){
    buttonHeight = $(".button-right").height();
    buttonWidth = $(".button-right").width();
  };

  //TODO this may need to be refactored for the viewport resizing?
  function getMousePosition(event){
    mouseY = event.pageY;
    mouseX = event.pageX;

    //test for mouse inside left button
    if( (mouseX > slideDivLeft)  &&  
        (mouseX < slideDivLeft + buttonWidth) && 
        (mouseY < slideDivBottom - slideHeight/2 + buttonHeight/2) && 
        (mouseY > slideDivTop + slideHeight/2 - buttonHeight/2)   )
        {
          //if over left button, return true
          if (!isMouseOverLeftButton){
              isMouseOverLeftButton = true;
              updateLeftAnimation();
            }
    //if mouse not it left button, return false 
    }else if (isMouseOverLeftButton){
              isMouseOverLeftButton = false;
              updateLeftAnimation();
          
    //test for mouse inside Right button
    }
    if( 
        (mouseX < slideDivRight)  &&  
        (mouseX > slideDivRight - buttonWidth) && 
        (mouseY < slideDivBottom - slideHeight/2 + buttonHeight/2) && 
        (mouseY > slideDivTop + slideHeight/2 - buttonHeight/2)   )
        {
        if (!isMouseOverRightButton){
              isMouseOverRightButton = true;
              updateRightAnimation();
            }
    } else if (isMouseOverRightButton){
              isMouseOverRightButton = false;
              updateRightAnimation();
    }
  }

  function updateLeftAnimation(){
    console.log("Value of isMouseOverLeftButton: " + isMouseOverLeftButton );
   
    //don't animate if this is the first page
    if (currentPage !== 1){
      if(isMouseOverLeftButton){
         $(".page-wrapper").stop().animate({"left": "+=10px"}, {queue:false,duration:200})
           console.log("inside button");
      }else if(!isMouseOverLeftButton){
        $(".page-wrapper").stop().animate({"left": "-100%"}, {queue:false,duration:200})
            //console.log("outside button");
      }
    }
  };

  function updateRightAnimation(){
    //don't animate if this is the last page
    if (currentPage != totalPages){        
      //find the .slider position before we start
      var origWrapperPosition = getWrapperPosition();
      if(isMouseOverRightButton){
         $(".page-wrapper").stop().animate({"left": "-=10px"}, {queue:false,duration:200})
           console.log("inside button");
      }else if(!isMouseOverRightButton){
        $(".page-wrapper").stop().animate({"left": origWrapperPosition}, {queue:false,duration:200})
      }
    }
  };

  function getWrapperPosition(){
    var wrapperPosition;
    if(currentPage === 1)
        { wrapperPosition = "0";
      }else if(currentPage === totalPages.length){
        wrapperPosition = "-200%";
      }else{
        wrapperPosition = "-100%";
      };
    return wrapperPosition
  };
      
  function init(){
      //is this reset necessary?
      // mouseX = 0;
      // mouseY = 0;

      slideWidth = $(".slides").width();
      slideHeight = $(".slides").height();

      slideDivTop = $(".slides").offset().top;
      slideDivBottom = slideDivTop + slideHeight;
      slideDivLeft = $(".slides").offset().left;
      slideDivRight = slideDivLeft + slideWidth;
      };

</script>
 
</head>
<body ng-controller="ThumbnailCtrl as pages" >
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
   <div class="wrapper">
    <section class="top-bar">
        <!--logo and links go here-->
        <div class="link-out"><a href="#link">Find a community</a> near you.</div>
        <div class="social-buttons">
          <ul>
            <li>
              <a href="#link"><img src="img/home.png" height="70" width="72" alt="Home"></a>
            </li>
            <li><a href="#link"><img src="img/twitter.png" height="70" width="72" alt="Follow us on Twitter"></a></li>
            <li><a href="#link">
              <img src="img/facebook.png" height="70" width="72" alt="Find us on Facebook"></img>
            </a></li>
            <li><a href="#link">
              <img src="img/resize.png" height="70" width="72"></img>
            </a></li>
            <li><a href="#link"><img src="img/email.png" height="70" width="72" alt="Email this to a friend"></a></li>
          </ul>
        </div>
        <div class="logo"><img src="img/aegis_logo.png"  height="49" width="240" alt="Aegis Living"></div>
    </section>

    <section class="slides">
          <div class="overlay-buttons">
            <button type="button" class="btn btn-default button-left" ng-click="advancePage('prev')" ng-hide="isFirstPage()"><span class="glyphicon glyphicon-chevron-left"></button>
            <button type="button" class="btn btn-default button-right" ng-click="advancePage('next')"ng-hide="isLastPage()"><span class="glyphicon glyphicon-chevron-right"></button>
          </div> 

        <div class="page-wrapper">
          <ng-include src="peekPrev()" class="peek-prev"></ng-include>        
                  <!--view is injected here-->
          <div class="center">          
            <div ng-view ng-class="pageTransition" class="view-container">
            </div>
          </div>

            <ng-include src="peekNext()" class="peek-next"></ng-include>
        </div> 

    </section>
    <section class="page-turner-container">
      <nav class="page-turner" ng-class="thumbsPosition">
        <div class"hide-nav"><span ng-click="toggleThumbs()" class="glyphicon glyphicon-chevron-down"></span></div>
        <ul class="thumb-viewer" ng-hide="isThumbsVisible">
          <li>
            <button class="prev btn" ng-click="advanceThumb('prev')" ng-class="setPrevNextVisibility(1)"><span class="glyphicon glyphicon-chevron-left"></span> </button>
          </li>
          <li class="thumb-scroll-window">
              <ul class="holder"> 
            <ul>
              <li>
<!--                 <li ng-repeat="page in pages" ng-show="showThumb(page.page_num)" class="thumbnail-container">
 --><!--                 <li ng-repeat="page in pages" ng-if="$index == page.page_num" class="thumbnail-container">
 -->
<!-- 
                <li ng-repeat="page in pages" ng-if="$index == activePage() ||  $index == activePage()-1 || $index == activePage()+1" class="thumbnail-container"> --> 

                <li ng-repeat="page in pages" class="thumbnail-container"> 
                  <a ng-class="{'active-thumb': activeThumb(page.page_num)}" class="page-thumbnail" href="#/view/{{page.page_num}}" ng-click="clickThumb(page.page_num)">
                    <img ng-src="img/{{page.thumb}}"/>
                  </a> 
                </li>

              </ul>
          </li>
          <li>
            <button class="next btn" ng-click="advanceThumb('next')" ng-class="setPrevNextVisibility(pages.length)"><span class="glyphicon glyphicon-chevron-right"></span></button>
          </li>
        </ul>
      </nav> 
    </section>
    <footer>
      <div ng-cloak class="page-number">{{activePage()}} of {{pages.length}}</div>
    </footer>
  
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
<!-- Considered trying to dive into using this mashup of Bootstrap and Angular for styling but haven't  
  <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script> 
  <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script> -->
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="js/app.js"></script>
 <!--<script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script> -->
</body>
</html>
