<!DOCTYPE html>
<html lang="en" ng-app="myEmag">
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<!--[if IE]>           <html lang="en" ng-app="myApp" class="ie"> <![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Aegis Living Activities</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta name=”fragment” content=”!” />
  <!-- HTML5 Boilerplate is packaged with angular-seed but I'm using boostrap styles 
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css"> -->
  <link href='http://fonts.googleapis.com/css?family=Cantarell:400,700,400italic,700italic|Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css"/>
   <link rel="stylesheet" href="css/popupcss/ngDialog.css">
   <link rel="stylesheet" href="css/popupcss/ngDialog-theme-default.css">
   <link rel="stylesheet" href="css/popupcss/ngDialog-theme-plain.css">

  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/TweenMax.min.js"></script>
  <script src="js/windowResizer.js"></script>
  <script type="text/javascript">
  

  //darn global variables get off my lawn
  var currentPage;
  var totalPages;
  var ButtonHeight;
  var ButtonWidth;
  var rButtonLeft;
  var rButtonTop;
  var lButtonLeft;
  var lButtonTop;
  var thumbnailPosition = 0;
  var thumbWidth = null;
  var stopsList = null;
  var enablePeek = false;
  var pageAnim = new TimelineLite({});	



  //used and reset by advanceThumbnails()
  var thumbPos = null;

  $(document).ready(function(){
    enablePeek=true;
  })

  //this function is called by angular when the view is changed
  function onContentLoaded(page, total){
    getButtonSizes();
    thumbWidth = $(".page-thumbnail").outerWidth(true);
    currentPage = page;
    totalPages = total;
	
      if (currentPage > 1 && currentPage <= totalPages){
          TweenLite.to(".page-wrapper", .4, {left:'-100%'});
        //$(".page-wrapper").animate({"left": "-100%"}, {queue:false,duration:400});
		
        origPosition = "-100%";
      }
      if (currentPage === 1){
          TweenLite.to(".page-wrapper", .4, {left:0});
        //$(".page-wrapper").animate({"left": "0"}, {queue:false,duration:400});     
      }
      //find position and dimension of slide container
      init();
      // $(window).resize(function(){
      //   //recalculate .slides div size if the page scales
      //   init();
      // })
      //track mouse position
      //$(window).mousemove(getMousePosition);
  };
    

  //create mouseover peek based on coordinates
  //----------------------------------------------------
  // based on https://www.cloudtec.ch/blog/web/change-image-with-jquery-mouse-position.html
   
  var isMouseOverLeftButton = isMouseOverRightButton = false;

  // get the initial button measurements as the page loads
  // we use the right button since the left is hidden by ng-hide on page 1
  // This should not update unless index.html reloads


  function getButtonSizes(){
    ButtonHeight = $(".button-right").height();
    ButtonWidth = $(".button-right").width();
  };
 

  var isMobile = {
      Android: function() {
          return navigator.userAgent.match(/Android/i);
      },
      BlackBerry: function() {
          return navigator.userAgent.match(/BlackBerry/i);
      },
      iOS: function() {
          return navigator.userAgent.match(/iPhone|iPad|iPod/i);
      },
      Opera: function() {
          return navigator.userAgent.match(/Opera Mini/i);
      },
      Windows: function() {
          return navigator.userAgent.match(/IEMobile/i);
      },
      any: function() {
          return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
      }
  };


  function updateLeftAnimation(){   
    //don't animate if this is the first page
	  
    if (currentPage !== 1){
      //find the .slider position before we start
      origWrapperPosition = getWrapperPosition()
      var numericPosition = parseInt(origWrapperPosition);
      var peekAmount = parseInt(numericPosition + 3) + "%";

      if(isMouseOverLeftButton){
		  TweenLite.to(".page-wrapper", .2, {left:peekAmount});
         //$(".page-wrapper").stop().animate({"left": peekAmount}, {queue:false,duration:400})
      }else if(!isMouseOverLeftButton){
		  TweenLite.to(".page-wrapper", .4, {left:origWrapperPosition});
		//$(".page-wrapper").stop().animate({"left":origWrapperPosition}, {queue:false,duration:400})
      }
    }
  };

  function updateRightAnimation(){
    //don't animate if this is the last page
	  
    if (currentPage != totalPages){        
      //find the .slider position before we start
      origWrapperPosition = getWrapperPosition()
      var numericPosition = parseInt(origWrapperPosition);
      var peekAmount = parseInt(numericPosition - 3) + "%";

      if(isMouseOverRightButton){
         //$(".page-wrapper").stop().animate({"left": peekAmount}, {queue:false,duration:400})
		 TweenLite.to(".page-wrapper", .2, {left:peekAmount});
      }else if(!isMouseOverRightButton){
          TweenLite.to(".page-wrapper", .4, {left:origWrapperPosition});
        //$(".page-wrapper").stop().animate({"left": origWrapperPosition}, {queue:false,duration:400})
		  
      }
    }
  };

  
  function getWrapperPosition(){
    var wrapperPosition;
    if(currentPage === 1)
        { wrapperPosition = "0";
      }else if(currentPage === totalPages.length){
        wrapperPosition = "-200%";
      }else{
        wrapperPosition = "-100%";
      };
    return wrapperPosition
  };
      
  function init(){
      rButtonLeft = $(".button-right").offset().left;
      rButtonTop = $(".button-right").offset().top;
      lButtonLeft = $(".overlay-buttons").offset().left;
      lButtonTop = $(".overlay-buttons").offset().top;
	  
	  
	 $(".button-right").on('mouseover',function(){
        isMouseOverRightButton = true;
        updateRightAnimation();
      });
	  $(".button-right").on('mouseout',function(){
          isMouseOverRightButton = false;
          updateRightAnimation();
      });
	  
 	 $(".button-left").on('mouseover',function(){
          isMouseOverLeftButton = true;
          updateLeftAnimation();
       });
 	  $(".button-left").on('mouseout',function(){
           isMouseOverLeftButton = false;
           updateLeftAnimation();
       });
		 
		
	}

//Thumbnail slider behavior
//----------------------------------------------------
function initThumbnailStops(){

      thumbWidth = $(".page-thumbnail").outerWidth(true);
      var stops = 0;
      for (var i = 0; i<=totalPages; i++) {
        stopsList.push(stops);
        stops -= thumbWidth;
      };
  };

function  setThumbstoCurrentSlide(page){
  if(stopsList == null){
    stopsList = [];
    initThumbnailStops();
  }
  var position = stopsList[page-1];
  tweenThumbs(position);
  thumbPos = null;
}

//called from angular
function advanceThumbnails(which){
  var thumbContainerWidth = $(".holder").width();
  thumbnailPosition = parseInt($(".holder").css('left'));
  var whichStop;
  
  if(which == "next"){ 
    //constrain the left position of .holder to the negative width of .holder
    if (thumbnailPosition > -Math.abs(thumbContainerWidth)+thumbWidth){
      //get current page and add one
        if (thumbPos == null){
          thumbPos = currentPage + 1
        }else{
          thumbPos = thumbPos + 1;
        }
      whichStop = stopsList[thumbPos-1];
      tweenThumbs(whichStop);
    };
  }else
    if(which == "prev"){ 
      if (thumbnailPosition < 0){
         if (thumbPos == null){
          thumbPos = currentPage - 1
        }else{
          thumbPos = thumbPos - 1;
        }
      whichStop = stopsList[thumbPos-1];
      tweenThumbs(whichStop);
      }
    };
  };  

function tweenThumbs(whichStop){
  var holder = $(".holder");   
  TweenLite.to(holder, .5, {left:whichStop, ease:Power4.easeOut});
}






</script>
 
</head>
<body ng-controller="ThumbnailCtrl as pages" >
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
<div class="screenWrapper" ng-controller="mobileAlertCtrl">
   <div class="wrapper">
    <section class="top-bar">
        <!--logo and links go here-->
        <div class="link-out"><a href="http://www.aegisliving.com/our-communities/">Find a community</a> near you.</div>
        <div class="social-buttons">
          <ul>
			  <style>
			  li.st_facebook_custom  .nav-holder{
				  display: inline-block;
				  vertical-align:top;
				  width:25px;
				  height:25px;
				  margin-left: 8px;
				  margin-right: 8px;
				  cursor:pointer;
				  background-position-x:0;
				  background-image:url('img/facebook.png');
				  background-size: cover;
			  }
			  li.st_twitter_custom  .nav-holder{
				  display: inline-block;
				  vertical-align:top;
				  width:25px;
				  height:25px;
				  margin-left: 13px;
				  margin-right: 13px;
				  cursor:pointer;
				  background-position-x:0;
				  background-image:url('img/twitter.png');
				  background-size: cover;
			  }
			  li.st_email_custom  .nav-holder{
				  display: inline-block;
				  vertical-align:top;
				  width:25px;
				  height:25px;
				  margin-left: 13px;
				  
				  cursor:pointer;
				  background-position-x:0;
				  background-image:url('img/email.png');
				  background-size: cover;
			  }
			  li.nav-sound a .nav-holder{
				  display: inline-block;
				  vertical-align:top;
				  width:25px;
				  height:25px;
				  background-position-x:0;
				  background-image:url('img/sound.png');
				  background-size: cover;
			  }
			  li.nav-sound a .nav-holder.nosound{
				  display: inline-block;
				  vertical-align:top;
				  width:25px;
				  height:25px;
				  background-position-x:100%;
				  background-image:url('img/sound.png');
				  background-size: cover;
			  }
			  </style>
            <li><a href="#!/view/1" ng-click="onThumbClick(1)"><img src="img/home.png" height="70" width="72" alt="Home"></a></li>
            <li class="st_twitter_custom"><div class="nav-holder"></div></li>
            <li class="st_facebook_custom"><div class="nav-holder"></div></li>
			<li class="nav-sound"><a href="#link"><div class="nav-holder" sound-watcher></div></a></li>
            <li class="st_email_custom" ><div class="nav-holder"></div></li>
          </ul>
        </div>
        <div class="logo"><a href='http://www.aegisliving.com/'><img src="img/aegis_logo.png"  height="49" width="240" alt="Aegis Living"></a></div>
    </section>

    <section class="slides">
		
		    <section class="page-turner-container">
		      <nav class="page-turner" ng-class="thumbsPosition">
		        <div class"hide-nav"><span  class="glyphicon stash-button" ng-class="{'glyphicon-chevron-down': !isActive, 'glyphicon-chevron-up': isActive}"
		       ng-init="isActive = false"
		       ng-click="isActive = !isActive; toggleThumbs($event)"></span></div>
		        <ul class="thumb-viewer" ng-hide="isThumbsVisible">
		          <li>
		            <button class="prev btn" ng-click="advanceThumb('prev')"><span class="glyphicon glyphicon-chevron-left"></span> </button>
		          </li>
		          <li class="thumb-scroll-window">
		              <ul class="holder"> 

		                <li ng-repeat="page in pages" class="thumbnail-container" my-repeat-directive> 
               <a class="page-thumbnail" href="#!/view/{{page.page_num}}" ng-click="onThumbClick(page.page_num)">
		                       <img ng-src="img/{{page.thumb}}"/>
		                  </a> 
		                </li>
		              </ul>
		          </li>
		          <li>
		            <button class="next btn" ng-click="advanceThumb('next')"><span class="glyphicon glyphicon-chevron-right"></span></button>
		          </li>
		        </ul>
		      </nav> 
		    </section>
          <div class="overlay-buttons">
			  
            <button type="button" class="btn btn-default button-left" ng-click="moveSlide('prev')" ng-hide="isFirstPage()"><span class="glyphicon glyphicon-chevron-left"></button>
            <button type="button" class="btn btn-default button-right" ng-click="moveSlide('next')"ng-hide="isLastPage()"><span class="glyphicon glyphicon-chevron-right"></button>
          </div> 

        <div class="page-wrapper">
          <ng-include src="peekPrev()" class="peek-prev"></ng-include>        
                  <!--view is injected here-->
          <div class="center">          
            <div ng-view ng-class="pageTransition" class="view-container">
            </div>
          </div>
            <ng-include src="peekNext()" class="peek-next"></ng-include>
        </div> 
    </section>



    <footer>
      <div ng-cloak class="page-number">{{activePage()}} of {{pages.length}}</div>
    </footer>
  
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>

  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="js/ngDialog.min.js"></script>
  <script src="js/howler.min.js"></script>  
   <script src="js/soundMachine.js"></script>  
  <script src="js/jquery.slotmachine.js"></script>
  <script src="js/app.js"></script>
<script type="text/javascript">var switchTo5x=false;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "00eb8adc-83f8-4769-a976-3b9550cd7f29", doNotHash: false, doNotCopy: false, servicePopup: true, popop:true, hashAddressBar: false});</script>	  
	  
</div>
</body>
</html>
